<div class="">

  <table class="table">

    <tr>
      ここに写真が入る
    </tr>

    <tr>
      <th>name</th>
      <th>ここに名前が入る</th>
    </tr>

    <tr>
      <th>introduction</th>
      <th>ここに紹介が入る</th>
    </tr>

  </table>

  <div class="row">
    <%= link_to '', '', class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
  </div>

</div>